.App{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.container{
    padding: 32px;
    box-sizing: border-box;
    background-color: white;
    width: 95vw;
    max-width: 460px;
    height: 95vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 10px;
    
}

.title{
    font-size: 24px;
    text-align: center;
    line-height: 1.7;
}

.input{
    width: 200px;
    margin: 20px 0px 10px 0px;
    border-style: none;
    background-color: #eee;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 700;
}

.startBtn{
    width: 80vw;
    margin: 10px auto;
    max-width: 150px;
    border-style: none;
    color: white;
    background-color: #1E90FF;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 700;
}